# Default values for Apm Ui.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2

image:
  repository_name: odoo
  tag: 16.0
  pullPolicy: Always

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  annotations: {}
  name: 

podSecurityContext: {}

securityContext:
  runAsUser: 101

service:
  type: NodePort
  targetPort: 8069
  port: 8069
  nodePort: '30300'

resources:
  limits:
    # cpu: 300m
    memory: 1024Mi
  requests:
    cpu: 150m
    memory: 512Mi

nodeSelector: {}

tolerations: []

affinity: {}

database:
  host: http://postgres.default
  user: admin
  password: cm9vdAo=
